* {
	max-width: 700px;
	margin: auto;
  }
  body{
	background-color: black;
  }
  
  div {
	border-radius: 5px;
  }

  .btn{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;	
    border-radius: 30px;
	margin-left: 2%;
  }

 .btn1{
	margin-left: 85%;
	background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;	
    border-radius: 30px;
 }
  
 img {
	width: 30px;
	height: 15px; 
 }
  .header {
	height: 20px;
	width: 100%;
	background-color: #86C8BC;
	position: inherit;
	z-index: 1;
  }

  .left {
	height: 1007px;
	width: 20px;
	background-color: #86C8BC;
	float: left;
  }

  .right {
	height: 1007px;
	width: 20px;
	background-color: #86C8BC;
	float: right;
	position: inherit;
  }
  
  .footer {
	height: 20px;
	width: 100%;
	background-color: #86C8BC;
  }
  
  hr{
	border-top: 1px solid #FFD4B2;
	border-style: dashed;
	width:80%;
	text-align:left;
	margin-left:60px;
  }
  
  .image{
	width: 120px;
	height: 120px;
	border-radius: 50%;
  	margin-left: auto;
  	margin-right: auto;
	display: block;
 }

 .hi {
	width: 20%;
	margin-right: 314px;
 }

  h2{
	color: #4badb4;
	text-align: center;
  }

  h1{
	text-align: center;
	opacity: 0.4;
  }

  h3{
	text-align: center;	
  }

  span {
	color:  #4badb4;
  }

  ul{
	line-height: 140%;
  }
  
  li{
	list-style-type:square;
  }

  .first {
	display: inline-block;	
	width: 94.29%;	
	height: 1000px;
	background-color: #e0dddd;
  }

  p,
  li {
	font-family: 'Cormorant Garamond';
  }
  
  .objective {
	padding-top: 25px;
	margin-left: 40px;
	text-align: center;
	letter-spacing: 1px; 
	line-height: 0.6cm;
  }

  .personal{
	padding-top: 25px;
	margin-left: 25px;
	letter-spacing: 1px; 
	line-height: 0.6cm;
  }

  .educ {
	padding-top: 30px;
	margin-left: 25px;
	letter-spacing: 1px; 
	line-height: 0.6cm;
  }
 
  .work{
	padding-top: 20px;
	margin-left: 30px;
	letter-spacing: 1px; 
	line-height: 0.6cm;
  }

 


